@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
  }
  .headerText {
    text-align: center;
    margin: 80px 0 20px 0;
  }
  .navList {
    justify-content: space-around;
  }
  .planetImg {
    width: 25%;
  }
}
